.row {
    padding: 3px 10px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;

    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
}

.row:focus-visible {
    box-shadow: 0 0 0 2px var(--focused-border-color);
}
.row {
    background-color: transparent;
    color: var(--secondary-color-4);
}
