/*.column {
    padding: 3px 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
}*/
.column {
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
}
