body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

html[data-theme="dark"] {
    --dark: initial;
    --light: ;
}
