body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

html[data-theme="dark"] {
    --dark: initial;
    --light: ;
}

.checkbox-holder {
    width: 6vw;
    display: flex;
    padding: 3px;
    flex-direction: column;
    align-items: center;
}
